@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GowunDodum";
    font-weight: normal;
    src: url("./fonts/고운돋음체.ttf") format("truetype");
}
@font-face {
    font-family: "MaruBuri";
    font-weight: normal;
    src: url("./fonts/마루부리체.ttf") format("truetype");
}
@font-face {
    font-family: "OmyuPretty";
    font-weight: normal;
    src: url("./fonts/오뮤다예쁨체.ttf") format("truetype");
}
@font-face {
    font-family: "LeeSeoyoon";
    font-weight: normal;
    src: url("./fonts/이서윤체.ttf") format("truetype");
}

html {
    @apply scrollbar-hidden
}

body {
    font-family: "MaruBuri";
}

.themeMainSet {
    @apply bg-theme-light text-main-light dark:bg-theme-dark dark:text-main-dark;
}

.modal-animation-forwards {
    animation: modal-fade-in 0.3s ease-out forwards;
}

.modal-animation-ease-in {
    animation: modal-fade-in 0.3s ease-in forwards;
}

.post-arrowLeft-btn {
    display: none;
    
    @media (min-width: 1024px) {
        display: block;
    }
}